@import 'base/all';
@import 'helpers/all';
@import 'modules/all';

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background: url("../img/bg.png");
}

a{
  color: #FE4365;
  font-weight: 600;
  text-decoration: none;
}

*{ transition: all 0.4s ease; }