@import 'materialize/sass/materialize';
@import 'components/all';

.container{
  width: 85% !important;
}

#loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}