$font-stack: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;

// Palatte
$primary-1: $clr-grey-700;
$primary-2: $clr-grey-800;
$primary-3: $clr-grey-900;
$accent-1: $clr-cyan-100;
$accent-2: $clr-cyan-600;
$accent-3: $clr-cyan-900;

// Text Colors
$black: #000;
$black-1: rgba(0,0,0,0.87);
$black-2: rgba(0,0,0,0.54);
$black-3: rgba(0,0,0,0.26);
$black-4: rgba(0,0,0,0.12);

$white: #fff;
$white-1: rgba(255,255,255,1);
$white-2: rgba(255,255,255,0.70);
$white-3: rgba(255,255,255,0.30);
$white-4: rgba(255,255,255,0.12);
