.crawler-status {
  padding: 50px;
  padding-top: 100px;

  .info{
    margin-bottom: 50px;
    display: block;

    li{
      color: $black-1;
      display: inline-block;
      background: $white-3;
      @include card(1);
      font-size: 20px;
      font-weight: 600;
      margin-right: 20px;

      i{
        background: $primary-2;
        color: $white-1;
        font-size: 20px;
        padding: 15px;
      }

      span{
        padding: 25px;
      }
    }
  }

  h1 {
    color: $black1-1;
    font-size: 26px;

    &.sma-graph-title{
      text-align: center;
    }
  }

  .graph{
    display: block;
    background: $white-3;
    @include card(1);
    padding: 50px;

    .sma-graph {
      width: 100%;
      height: 300px;
      margin: 30px 0;
    }
  }
}

@media (max-width: 1000px){
  .crawler-status{
    padding-top: 80px;
  }
  .crawler-status .info{
    display: block;
    margin: 50px 0;
  }
}