header {
  background-image: url(../img/tmp.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  position: relative;

  .intro {
    position: relative;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

    h1 {
      font-size: 60px;
      font-family: Raleway, sans-serif;
      letter-spacing: 2px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    p {
      width: 500px;
      text-align: justify;
      font-size: 21px;
      line-height: 26px;
      color: #ddd;

      b {
        color: #F9CDAD;
      }
      a {
        color: #69D2E7;
      }
    }
  }

  .home-icon {
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 15%;
  }
}

@media (max-width: 1200px) {
  header .intro {
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
      margin: 0 auto;
      display: block;
    }

    .home-icon {
      display: none;
    }
  }
}	