nav {
  height: 60px;
  background: $primary-2;
  -webkit-box-shadow: 0 1px 20px -10px #ccc;
  box-shadow: 0 1px 20px -10px #ccc;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 1000;
  border-bottom: 3px solid $accent-2;


  .logo {
    height: 100%;
    display: inline-block;
    padding: 0 60px;
    position: relative;

    h1 {
      font-weight: 600;
      letter-spacing: -1px;
      text-align: center;
      margin: 0;
      color: $white-1;
      font-size: 30px;
      line-height: 60px;
    }
  }

  .dropdown-toggle {
    display: none;
  }

  ul {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 80px;

    li {
      list-style: none;
      display: inline-block;
      height: 100%;

      a {
        font-weight: 600;
        display: inline-block;
        height: 100%;
        text-transform: uppercase;
        font-size: 15px;
        text-decoration: none;
        color: $white-2;
        line-height: 60px;
        padding: 0 30px;

        &:hover {
          color: $white-1;
        }
      }

      &.active a {
        font-weight: 600;
        color: $white-1;
        background: $accent-2;
      }
    }
  }

  &.transparent {
    height: 100px;
    background: rgba(255,255,255,0.1);
    box-shadow: none;
    border: none;

    .logo {
      padding: 0 100px;

      h1 {
        color: $white-1;
        font-size: 40px;
        line-height: 100px;
      }
    }

    ul li {
      a {
        line-height: 100px;
        color: #ddd;

        &:hover {
          background: rgba(255,255,255,0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
      &.active a {
        color: $white-1;
        background: none;
      }
    }

    &.mobile-nav{
      ul{
        background: rgba(255,255,255,0.1);
        border-top: 1px solid #aaa;
      }
    }
  }

  &.mobile-nav {
    position: absolute;
    height: 80px;

    .logo {
      left: 50%;
      transform: translateX(-50%);

      h1 {
        color: $white-1;
        font-size: 30px;
        line-height: 80px;
      }
    }

    .dropdown-toggle {
      display: inline-block;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      color: $white-2;
      font-size: 20px;
    }

    ul{
      display: none;
      width: 80%;
      height: auto;
      padding: 15px 10%;
      margin: 0 auto;
      background: $primary-2;
      border-top: 3px solid $accent-2;


      li{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;

        a{
          padding: 15px;
          display: block;
          height: 30px;
          line-height: 30px;

          &:focus,&:active,&:hover{
            background: none;
            border: none;
            color: $white-1;
          }
        }

        &.active{
          a{
            background: none;
            color: $accent-1;
          }
        }
      }
    }
  }
}